* {
  box-sizing: border-box;
}

:root {
  --color-white: #FFFFFF;
  --color-black: rgb(0, 0, 0);

  --color-primary-10: #0096E0;
  --color-primary-50: #0088CC;
  --color-primary-100: #007AB8;
  --color-primary-200: #006DA3;
  --color-primary-300: #005F8F;
  --color-primary-400: #00527A;
  --color-primary-500: #004466;
  --color-primary-600: #003652;
  --color-primary-700: #00293D;
  --color-primary-800: #001B29;

  --color-secondary-50: hsl(24, 93%, 83%);
  --color-secondary-100: hsl(24, 91%, 75%);
  --color-secondary-200: hsl(24, 96%, 68%);
  --color-secondary-300: hsl(24, 96%, 61%);
  --color-secondary-400: hsl(24, 96%, 53%);
  --color-secondary-500: hsl(24, 100%, 50%);
  --color-secondary-600: hsl(22, 90%, 50%);

  --color-black-100: rgb(0, 0, 0, .10);
  --color-black-200: rgb(0, 0, 0, .20);
  --color-black-300: rgb(0, 0, 0, .30);
  --color-black-400: rgb(0, 0, 0, .40);
  --color-black-500: rgb(0, 0, 0, .50);
  --color-black-600: rgb(0, 0, 0, .60);
  --color-black-700: rgb(0, 0, 0, .70);
  --color-black-800: rgb(0, 0, 0, .80);
  --color-black-900: rgb(0, 0, 0, .90);

  --color-yellow-100: hsl(62, 100%, 94%);
  --color-yellow-200: hsl(61, 100%, 91%);
  --color-yellow-300: hsl(61, 100%, 87%);
  --color-yellow-400: hsl(61, 100%, 84%);
  --color-yellow-500: hsl(61, 100%, 83%);
  --color-yellow-600: hsl(61, 100%, 80%);
  --color-yellow-700: hsl(61, 100%, 77%);
  --color-yellow-800: hsl(61, 100%, 73%);
  --color-yellow-900: hsl(61, 100%, 65%);
  --color-yellow: hsl(61, 100%, 50%);
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: radial-gradient(
    ellipse at top,
    var(--color-primary-400),
    var(--color-primary-100)
  );
  min-height: 100vh;
}

#main-navigation {
  padding: 2rem 15%;
  display: flex;
  justify-content: center;
}

#main-navigation ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 1.5rem;
  justify-content: center;
}

.nav-item a {
  text-decoration: none;
  color: var(--color-white);
  font-size: 1.25rem;
}

.nav-item a:hover,
.nav-item a.active {
  color: var(--color-secondary-200);
}

.error {
  max-width: 25rem;
  margin: 3rem auto;
  padding: 2rem;
  text-align: center;
  background-color: var(--color-secondary-100);
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
}

.info-message {
  margin: 2rem;
  text-align: center;
  color: var(--color-primary-50);
  font-size: 1.5rem;
}

@keyframes fade-blur-in {
  from {
    opacity: 0;
    filter: blur(1rem);
  }
  to {
    opacity: 1;
  }
}

@keyframes fade-slide-in {
  from {
    opacity: 0;
    transform: translateY(-2rem);
  }
  to {
    opacity: 1;
  }
}